#fesc-atala-footer {
  .fesc-atala-footer-row {
    display: flex;
    margin: 2.8rem 0;

    > .fesc-atala-footer-column {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      &:nth-of-type(2) {
        flex: 1.5;
      }
    }

    .fesc-atala-footer-logo {
      > div {
        width: 100%;
        max-width: 11rem;

        img {
          width: 100%;
        }
      }
    }
  
    .fesc-atala-footer-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      a {
        &:first-of-type {
          margin-right: 2rem;
        }
      }
    }
  
    .fesc-atala-footer-copyright {
      display: flex;
      justify-content: flex-end;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
  
      > .fesc-atala-footer-column {
        flex: 1;
        margin: 1rem 0;
  
        &:nth-of-type(2) {
          flex: 1;
        }
      }
  
      .fesc-atala-footer-logo {
        > div {
          margin: 0 auto;
        }
      }
  
      .fesc-atala-footer-copyright {
        justify-content: center;

        p {
          margin: 0;
        }
      }
    }
  }
}
