#fesc-iohk-footer {
  .fesc-iohk-footer-container {
    display: flex;
    margin: 2.8rem 0;

    .fesc-iohk-footer-section {
      flex: 1;

      &:first-of-type {
        padding-right: 4rem;
      }

      &:last-of-type {
        flex: 2;
      }
    }

    .fesc-iohk-footer-logo {
      > div {
        width: 100%;
        max-width: 20rem;

        img {
          width: 100%;
        }
      }
    }

    .fesc-iohk-footer-row {
      display: flex;
      justify-content: center;

      .fesc-iohk-footer-column {
        flex: 1;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0.6rem 0;

            &:first-of-type {
              margin-top: 0;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 960px) {
      flex-direction: column;

      .fesc-iohk-footer-section {
        display: flex;
        justify-content: center;

        &:first-of-type {
          padding-right: 0;
          margin-bottom: 4rem;
        }
      }

      .fesc-iohk-footer-row {
        max-width: 700px;
        flex: 1;

        .fesc-iohk-footer-column {
          ul {
            text-align: center;
          }
        }
      }

      .fesc-iohk-footer-logo {
        flex: 1;
          
        > div {
          margin: 0 auto;
        }
      }
    }

    @media screen and (max-width: 700px) {
      .fesc-iohk-footer-row {
        flex-wrap: wrap;
  
        .fesc-iohk-footer-column {
          flex-basis: 50%;
          margin: 1.6rem 0;
        }
      }
    }
  
    @media screen and (max-width: 450px) {
      .fesc-iohk-footer-row {
        .fesc-iohk-footer-column {
          flex-basis: 100%;
          margin: 1.6rem 0;
        }
      }
    }
  }
}
